<div class="container">
<h1 style="text-align: center;">
 Esta es {{ title }}
</h1>
<div>
  <p>
    Name employee: {{ name }}
  </p>
  <p>
    Age: {{ age }}
  </p>
  <p>
    Last wages earned: {{wages[0] }}€, {{ wages[1] }}€, {{ wages[2] }}€ & {{ wages[3] }}€
  </p>
  <p>
    {{ name }} total wages in the last four mounths reaches {{ lastWages() }}€
  </p>
  <p>
    {{ name }} status: {{ isActive() }}
  </p>
</div>
<!--*ng's-->
<div>
  <h1 style="text-align: center;">
    *ng's
   </h1>
  <p>
    Name employee: {{ name }}
  </p>
  <p>
    Age: {{ age }}
  </p>
  <p *ngIf = "age >= 18">
    {{ name }} is a mature person
  </p>
  <p *ngIf = "age < 18">
    {{ name }} is a young person
  </p>
  <!--the other way-->
  <p *ngIf="age >= 18; else minor">
    {{ name }} is a mature person
  </p>
    <ng-template #minor>
      <p>
        {{ name }} is not old enough to have a beer
      </p>
    </ng-template>


 <table border="1">
   <tr>
     <td>Wages</td>
   </tr>
   <tr *ngFor="let wage of wages">
    <td>{{ wage }}</td>
   </tr>
 </table>
</div>
<!--adding and taking away-->
<div style="flex-flow: column nowrap; justify-content: center;">
  <h1 style="text-align: center;">
    Event listeners
  </h1>
  <p style="flex-flow: row nowrap; align-items: center;">
    <!--Event binding-->
    <button  (click)="addClicks()">Adding</button>
  </p>
  <p style="flex-flow: row nowrap; align-items: center;">
    <button style="align-self: center;" (click)="restClicks()">Resting</button>
  </p>
  <p>{{ countClicks}}</p>

</div>
  <!--Two way binding-->
  <div style="flex-flow: column nowrap; justify-content: center;">
    <h1 style="text-align: center;">
      Two way binding: Banana binding => [(ngModel)]
    </h1>
    <p style="flex-flow: row nowrap;">
      Type your name<input type='text' [(ngModel)] = "name1">
    </p>
    <p style="flex-flow: row nowrap;">
      Type your surname<input type='text' [(ngModel)] = "surname1">
    </p>
  </div>
  <div style="flex-flow: column nowrap; justify-content: center;">
    <p style="flex-flow: row nowrap;">
     Full name: {{ surname1 }}, {{ name1 }}
    </p>
  </div>

</div>
<router-outlet></router-outlet>
